
<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>CS 253 Wiki</title>
  </head>

  <body>
    <div class="login-area">
      <a href="/{{entry}}" class="login-link">
        view
      </a>
      | history
      {% if user %}
      {{user}}
      <a href="/logout" class="login-link">
        (logout)
      </a>
      {% else %}
      <a href="/login" class="login-link">
        (login)
      </a>
      {% endif %}
      <br>
    </div>
      
    <form method="post" id="wikiForm">
      <textarea name="content" form="wikiForm">{{txt}}</textarea>
      <input type="Submit" value="Save">
    </form>
  </body>
</html>