
<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>CS 253 Wiki</title>
  </head>

  <body>
    
    <div class="login-area">
      {% if user %}
      <a href="/_edit/{{entry}}" class="login-link">
        edit
      </a>
      | history
      {{user}}
      <a href="/logout" class="login-link">
        (logout)
      </a>
      {% else %}
      <a href="/login" class="login-link">
        (login)
      </a>
      {% endif %}
      <br>
    </div>
      
    <div id="content">
    {{wiki}}
    </div>
  </body>
</html>